body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.Site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
.Site-content {
    flex: 1;
  }
.container {
    width: 100%;
    max-width: 600px; 
    margin: 0 auto;
    padding: 20px;
    margin-left: 600px;
}
h1{
    margin-top: 150px;
    margin-left: 600px;
    font-size: 40px;
}
.calendar {
    margin-bottom: 20px;
}

.calendar h2 {
    margin-top: 0;
    font-size: 24px;
}
.forum.todo-form{
    width: 100%;
    padding: 10px;
    font-size: 16px;
}
#datepicker {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

.todo-list {
    margin-top: 20px;
}

.todo-list h2 {
    margin-left: 80px;
    font-size: 24px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 16px;
}

#todo-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
    border: 1px solid #ccc;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 80px;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}
div {
    width: 300px;
    padding: 25px;
    box-sizing: border-box;
  }
.todo-list{
    left-padding: 300px
}
footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #777;
    flex-grow: 1
}

/* Media query for iPhone */
@media only screen and (max-width: 600px) {
    .container {
        padding: 10px;
    }
    .calendar h2,
    .todo-list h2 {
        font-size: 20px;
    }
    #datepicker {
        font-size: 14px;
    }
    ul li {
        font-size: 14px;
    }
    #todo-input {
        font-size: 14px;
    }
    button[type="submit"] {
        font-size: 14px;
    }
    footer {
        font-size: 12px;
        color: white

    }
}