<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h2>{{ date }}</h2>
    <div class="wrapper">
        <header>
            <p class="todo-header">Are you sure you want to DELETE your account PERMENANTELY?</p>
        </header>
        <div style = "margin-left: 150px;">
            <a href="/"><button type="submit" class="edit-event-button">No</button></a>
        <form action="" method="POST" style = "margin-top: 30px;">
            <a href="/deleteaccount"><button class="delete-event-button">Yes</button></a>
        </form>
    </div>
    </div>
    <a href="/"><button type="submit" class="delete-event-button" style = "margin-right: 40px;">Back</button></a>
</body>

</html>