<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h2>{{ date }}</h2>
    <div class="wrapper">
        <header>
            <p class="todo-header">Todo List</p>
        </header>
        <ul class="todo-list">
            {% for doc in docs%}
            <li>{{doc.task}}</li>
            {% endfor %}
        </ul>
        <div class="button-container">
            <a href="/add/{{operation_date}}"><button class="add-event-button">Add Event</button></a>
            <a href="/edit/{{operation_date}}"><button class="edit-event-button">Edit Event</button></a>
            <a href="/delete/{{operation_date}}"><button class="delete-event-button">Delete Event</button></a>
        </div>
    </div>
    <a href="/"><button type="submit" class="delete-event-button">Back</button></a>
</body>
</html>