<!DOCTYPE html>
<html>

<head>
    <title>Search Task</title>
    <style>
        table,
        th,
        td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
        }
    </style>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
    <div class="wrapper">
        <h2 style="color: black;">Task Data</h2>
        <table>
            <tr>
                <th>Task</th>
                <th>Date</th>
                <th>Task ID</th>
            </tr>
            {% for result in results %}
            <tr>
                <td>{{ result.task }}</td>
                <td>{{ result.date }}</td>
                <td>{{ result.taskId }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <a href="/back"><button type="submit" class="delete-event-button">Back</button></a>
</body>

</html>